<div *ngIf="rutinasArmadas.length > 0; else noData">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha Creación</th>
                <th>Objetivo</th>
                <th>Nivel</th>
                <th>Acciones</th>
                <!-- Columna de edición condicional -->
                <th *ngIf="mostrarEdicion">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rutina of rutinasArmadas">
                <td>{{ rutina.nombre }}</td>
                <td>{{ rutina.fecha_asignacion | date: 'dd/MM/yyyy' }}</td>
                <td>{{ rutina.objetivo }}</td>
                <td>{{ rutina.nivel_atleta }}</td>
                <td>
                    <!-- Icono para ver detalles -->
                    <span class="icon-view" (click)="verDetallesRutina(rutina.id_rutina)">👁️</span>
                </td>
                <!-- Columna de edición condicional -->
                <td *ngIf="mostrarEdicion">
                    <span class="icon-edit" (click)="editarRutina(rutina)">✏️</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noData>
    <p>No hay rutinas disponibles para mostrar.</p>
</ng-template>