<div class="mb-3 col-4">
    <label [for]="'dificultad-' + label" class="form-label fs-5">{{ label }}</label>
    <select
      [id]="'dificultad-' + label"
      [(ngModel)]="selectedDificultad"
      (ngModelChange)="onValueChange()"
      class="form-select form-select-lg"
      aria-label="Selecciona una dificultad"
      [disabled]="isDisabled"
    >
      <option value="" disabled selected>Selecciona una dificultad</option>
      <option *ngFor="let dificultad of dificultades" [ngValue]="dificultad.id_dificultad">
        {{ dificultad.nombre }}
      </option>
    </select>
  </div>