

<div class="container main-page">
    <div class="row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="images/cbum.jpg" alt="Entrenamiento" class="img-fluid rounded shadow">
        </div>
        <button (click)="testService()">Probar Servicio</button>

        <!-- Texto -->
        <div class="col-md-6">
            <h1 class="display-4 text-primary mb-4">Tu Mejor Versión</h1>
            <p class="lead text-dark">
                El enfoque del entrenamiento está basado en algo más que resultados físicos.
                Aquí trabajamos en mejorar tu ánimo, tu fortaleza mental, y tu salud integral.
                Queremos ayudarte a superar tus propios límites, construir una constancia sólida y
                alcanzar un equilibrio emocional que te impulse día tras día.
            </p>
            <p class="lead text-dark">
                Con datos respaldados por la ciencia, te mostramos cómo el movimiento y el ejercicio
                pueden transformar no solo tu cuerpo, sino también tu vida. Como consecuencia de este
                trabajo, lograrás esa mejor versión física que siempre has deseado, pero, sobre todo,
                sentirás un cambio profundo en quién eres y cómo enfrentas el mundo.
            </p>
            <p class="font-italic text-secondary">
                “Tu cuerpo es el reflejo de tu esfuerzo, pero tu mente será tu mayor conquista.”
            </p>
        </div>
    </div>
</div>
