<!-- Encabezado fijo -->
<div class="header-container text-center py-4">
  <h1 class="title mb-0">REGISTRO DE ATLETA</h1>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Formulario con transparencia -->
      <div class="card shadow-lg">
        <div class="card-body">
          <form [formGroup]="atletaForm" (ngSubmit)="onSubmit()">
            <!-- Grupo 1: Nombre, Apellido y Apodo -->
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  id="nombre"
                  formControlName="nombre"
                  class="form-control"
                  placeholder="Ingrese el nombre"
                />
              </div>
              <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  id="apellido"
                  formControlName="apellido"
                  class="form-control"
                  placeholder="Ingrese el apellido"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="apodo" class="form-label">Apodo</label>
                <input
                  type="text"
                  id="apodo"
                  formControlName="apodo"
                  class="form-control"
                  placeholder="Ingrese el apodo"
                />
              </div>
              <div class="col-md-6">
                <label for="dni" class="form-label">DNI</label>
                <input
                  type="text"
                  id="dni"
                  formControlName="dni"
                  class="form-control"
                  placeholder="Ingrese el DNI"
                />
              </div>
            </div>

            <!-- Grupo 2: Fecha de Nacimiento y Celular -->
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="fecha_nacimiento" class="form-label"
                  >Fecha de Nacimiento</label
                >
                <input
                  type="date"
                  id="fecha_nacimiento"
                  formControlName="fecha_nacimiento"
                  class="form-control"
                />
              </div>
              <div class="col-md-6">
                <label for="celular" class="form-label">Celular</label>
                <input
                  type="text"
                  id="celular"
                  formControlName="celular"
                  class="form-control"
                  placeholder="Ingrese el celular"
                />
              </div>
            </div>

            <!-- Grupo 3: Dirección y Email -->
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="direccion" class="form-label">Dirección</label>
                <input
                  type="text"
                  id="direccion"
                  formControlName="direccion"
                  class="form-control"
                  placeholder="Ingrese la dirección"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Ingrese el email"
                />
              </div>
              <div class="col-md-6">
                <!-- Nuevo diseño para cargar imágenes -->
                <div class="image-upload-container">
                  <label for="foto_archivo" class="image-upload-label">
                    <i class="fas fa-cloud-upload-alt fa-2x"></i>
                    <span class="upload-text"
                      >Haz clic aquí para subir una foto</span
                    >
                  </label>
                  <input
                    type="file"
                    id="foto_archivo"
                    formControlName="foto_archivo"
                    class="d-none"
                  />
                </div>
              </div>
            </div>

            <!-- Gimnasio -->
            <div class="row mb-3">
              <div class="col-md-12">
                <app-cbo-gimnasio
                  formControlName="id_gimnasio"
                  [emitOnlyId]="true"
                ></app-cbo-gimnasio>
              </div>
            </div>

            <!-- Botón de Envío -->
            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary rounded-pill"
                [disabled]="atletaForm.invalid"
              >
                <i class="bi bi-check-circle-fill me-2"></i> Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
