<div class="mb-3 col-4">
    <label [for]="'forma-pago-' + label" class="form-label fs-5">{{ label }}</label>
    <select [id]="'forma-pago-' + label" [(ngModel)]="selectedFormaPago" (change)="onValueChange()"
        class="form-select form-select-lg" aria-label="Selecciona una forma de pago" [disabled]="isDisabled"
        placeholder="Selecciona una forma de pago">
        <!-- Opción por defecto -->
        <option value="" disabled selected>Selecciona una forma de pago</option>
        <!-- Opciones dinámicas -->
        <option *ngFor="let formaPago of formasPago" [ngValue]="formaPago">
            {{ formaPago.nombre }}
        </option>
    </select>
</div>