<div class="mb-3 col-4">
  <label [for]="'repeticion-' + label" class="form-label fs-5">{{ label }}</label>
  <select
    [id]="'repeticion-' + label"
    (change)="onValueChange()"
    class="form-select form-select-lg"
    aria-label="Selecciona una repetición"
    [disabled]="isDisabled"
    placeholder="Selecciona una repetición"
  >
    <option value="" disabled selected>Tipo de repeticion</option>
    <option *ngFor="let repeticion of repeticiones" [ngValue]="repeticion">
      {{ repeticion.nombre }}
    </option>
  </select>
</div>