<header class="header-container">
    <div class="header-background">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/home">FitnessApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/rutina">Rutinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cargar-rutina">Cargar Rutina</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/regalo">Regalo</a>
                        </li>
                    </ul>
                    <button ngif="!isLoggedIn" class="btn btn-primary" routerLink="/login">Login</button>
                    <button ngif="isLoggedIn" class="btn btn-primary" (click)="logout()">Logout</button>
                </div>
            </div>
        </nav>

        <!-- Foto circular en el centro y frase con fondo negro -->
        <div class="header-content">
            <div class="circle-container">
                <img src="images/rat.jpeg" alt="Foto" class="profile-img">
            </div>
            <div class="text-overlay">
                <p>No hay truco, eres TU vs TU!</p>
            </div>
        </div>

    </div>
</header>
