<div class="mb-3 col-4">
  <label [for]="'entrenador-' + label" class="form-label-base fs-5">{{ label }}</label>
  <select [id]="'entrenador-' + label" [(ngModel)]="selectedEntrenador" class="form-select form-select-lg"
    aria-label="Selecciona un entrenador" [disabled]="isDisabled" (ngModelChange)="onValueChange()">
    <option value="" disabled selected>Selecciona un entrenador</option>
    <option *ngFor="let entrenador of entrenadores" [value]="entrenador.id_entrenador">
      {{ entrenador.apodo }}
    </option>
  </select>
</div>