<div class="mb-3 col-4">
    <label [for]="'objetivo-' + label" class="form-label fs-5">{{ label }}</label>
    <select
      [id]="'objetivo-' + label"
      [(ngModel)]="selectedObjetivo"
      (ngModelChange)="onValueChange()"
      class="form-select form-select-lg"
      aria-label="Selecciona un objetivo"
      [disabled]="isDisabled"
    >
      <option value="" disabled selected>Selecciona un objetivo</option>
      <option *ngFor="let objetivo of objetivos" [ngValue]="objetivo.id_objetivos">
        {{ objetivo.nombre }}
      </option>
    </select>
  </div>