@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Barra superior con fondo verde forest y transparencia */
.top-bar {
    background-color: rgba(43, 1, 75, 0.94);
    /* Color verde forest con 70% de transparencia */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    /* Para alinear el contenido a ambos lados */
    align-items: center;
    position: fixed;
    /* Barra fija en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que la barra esté encima de otros elementos */
    color: white;
    /* Color blanco para texto e íconos */
    height: 50px;
    /* Ajustar altura de la barra */
}

/* Alineación del botón de login a la derecha */
.top-bar .btn-login {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
    justify-content: center;
    /* Asegura que el contenido esté centrado en el botón */
    margin-left: 40px;
}

/* Efecto al pasar el ratón por encima */
.btn-login:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


/* Contenedor de los iconos de redes sociales */
.social-icons {
    display: flex;
    gap: 20px;
    /* Espacio entre los iconos */
    margin-left: auto;
}

.social-icons a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
    /* Efecto de hover en los íconos */
}


