<div class="top-bar">
  <!-- Redes sociales -->
  <div class="social-icons">
    <a href="https://www.instagram.com/franco.menichetti89" target="_blank">
      <i class="bx bxl-instagram"></i>
    </a>
    <a href="https://chat.whatsapp.com/C0VMZ2hME9JGqE1uKI2rCY" target="_blank">
      <i class="bx bxl-whatsapp"></i>
    </a>
  </div>

  <!-- Botón de Login -->
  <button *ngIf="!isLoggedIn" (click)="login()" class="btn-login">
    <i class="bx bx-log-in"></i>
    <span>Login</span>
  </button>
</div>