<!-- Barra superior -->
<div class="alto" *ngIf="!isLoggedIn">
  <!-- Mostrar el componente 'app-barrasup' solo si el usuario NO está logueado -->
  <app-barrasup></app-barrasup>
</div>

<!-- Sidebar condicional -->
<div class="row" style="background-color: rgb(71, 0, 99);">
  <!-- Sidebar -->
  <div *ngIf="isLoggedIn">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Contenido principal -->
  <div class="col-10">
    <router-outlet></router-outlet>
    <!-- Aquí se inyectará el componente de resumen o cualquier otro componente según la ruta -->
  </div>
</div>