<div class="contacto-container text-white">
    <div class="contacto-header">
        <h1>Contacto</h1>
        <p>¿Tienes dudas, sugerencias o necesitas ayuda? Contáctanos.</p>
    </div>
    <div class="contacto-info">
        <h2>Datos de contacto</h2>
        <ul>
            <li>
                <strong>Email:</strong>
                <a href="mailto:contacto&#64;gimnasio.com">soft.gymrats&#64;gmail.com</a>
            </li>
            <li>
                <strong>WhatsApp:</strong> +54 2657 509354
            </li>
            <!-- <li>
                <strong>Dirección:</strong> Av. Ejemplo 1234, CABA, Argentina
            </li> -->
            <!-- <li>
                <strong>WhatsApp:</strong> +54 9 11 8765-4321
            </li> -->
        </ul>
    </div>
    <div class="contacto-horarios">
        <h2>Horarios de atención</h2>
        <p>Lunes a Viernes: 8:00 a 20:00 hs<br>
            Sábados: 9:00 a 14:00 hs</p>
    </div>
</div>