.sidebar {
    width: 250px;  
    background-color: black;  /* Fondo negro */
    color: #d3d3d3;  /* Gris claro */
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido se estire para ocupar todo el alto */
}

/* Sin subrayado en los enlaces */
.nav-link {
    color: #d3d3d3;  /* Gris claro */
    text-decoration: none;  /* Eliminar subrayado */
}

/* Cambiar color de los enlaces al pasar el ratón */
.nav-link:hover {
    color: #fff;  /* Blanco en el hover */
    text-decoration: none;  /* No subrayar en hover */
}

/* Submenú */
.sub-menu {
    padding-left: 20px;
}

/* Sombra a la derecha para separar visualmente */
.sidebar {
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo de los íconos en los ítems */
.sidebar .nav-item i {
    cursor: pointer;
}

/* Estilo para mover el Login y Logout al pie */
.footer {
    position: absolute;
    bottom: 15px; /* Asegura que esté al fondo */
    left: 0;
    width: 100%;
    margin-top: auto;
}

/* Los ítems de Login y Logout también tendrán un estilo limpio */
.footer .nav-item {
    margin-top: 10px;  /* Espaciado entre los elementos */
}