<!-- Sidebar -->
<div *ngIf="menus.length > 0">
  <div class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
    <!-- Botón para ocultar/mostrar el sidebar -->
    <div class="sidebar-toggle" (click)="toggleSidebar()">
      <i class="toggle-icon" [ngClass]="{'rotate': !isSidebarVisible}"></i>
    </div>

    <!-- Espacio para la imagen en la parte superior -->
    <div class="sidebar-img">
      <img src="images/gymrats_v003_W.png" alt="Logo">
    </div>

    <!-- Lista de menús principales -->
    <ul class="nav flex-column">
      <!-- Iterar sobre los menús principales -->
      <li *ngFor="let menu of getMainMenus()" class="nav-item">
        <!-- Enlace del menú principal -->
        <a class="nav-link" (click)="toggleSubMenu(menu)" [attr.aria-expanded]="isMenuExpanded(menu)">
          <i class="{{ menu.menu_icono }}"></i> <!-- Ícono del menú -->
          <span>{{ menu.menu_descripcion }}</span> <!-- Descripción del menú -->
          <!-- Flecha para indicar submenú -->
          <i class="arrow" [ngClass]="{'rotate': isMenuExpanded(menu)}"></i>
        </a>

        <!-- Submenús (solo si están expandidos) -->
        <ul [ngClass]="{'sub-menu': true, 'expanded': isMenuExpanded(menu)}">
          <!-- Iterar sobre los submenús -->
          <li *ngFor="let subMenu of getSubMenus(menu)" class="nav-item">
            <!-- Enlace del submenú -->
            <a class="nav-link" [routerLink]="subMenu.menu_link" routerLinkActive="active">
              <i class="{{ subMenu.menu_icono }}"></i> <!-- Ícono del submenú -->
              <span>{{ subMenu.menu_descripcion }}</span> <!-- Descripción del submenú -->
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Botón de Logout, solo visible cuando el usuario está logueado -->
    <div *ngIf="isLoggedIn" class="sidebar-logout">
      <button (click)="logout()" class="btn-logout">
        <i class="bx bx-log-out"></i> Logout
      </button>
    </div>
  </div>
</div>

<!-- Botón flotante para mostrar el sidebar cuando está oculto -->
<div class="floating-sidebar-toggle" *ngIf="!isSidebarVisible" (click)="toggleSidebar()">
  <i class="bi bi-list"></i> <!-- Ícono de menú hamburguesa -->
</div>

<!-- Contenido principal -->
<div class="main-content" [ngClass]="{'expanded': !isSidebarVisible}">
  <!-- Aquí va el contenido principal de tu aplicación -->
</div>
