<!-- rutina.component.html -->

<div class="container">
    <h2>Mi Rutina de Ejercicios</h2>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ rutinaSeleccionada.nombre }}</h2>
            <p class="card-text"><strong>Objetivo:</strong> {{ rutinaSeleccionada.objetivo }}</p>
            <p class="card-text"><strong>Descripción:</strong> {{ rutinaSeleccionada.descripcion }}</p>
            <p class="card-text"><strong>Fecha de Asignación:</strong> {{ rutinaSeleccionada.fecha_asignacion | date }}
            </p>
        </div>
    </div>
    <!-- Card por Día -->
    <div *ngFor="let dia of rutina; let i = index" class="card mb-3">
        <div class="card-header" (click)="toggleDia(i)">
            <h3 class="mb-0">Día {{ dia.dia }}</h3>
        </div>
        <div class="card-body" [ngClass]="{'d-none': !dia.expandido}">
            <!-- Card por Grupo Muscular -->
            <div *ngFor="let grupoMuscular of obtenerGruposMusculares(dia.ejercicios); let j = index" class="card mb-3">
                <div class="card-header" (click)="toggleGrupoMuscular(i, j)">
                    <h4 class="mb-0">Grupo Muscular {{ grupoMuscular }}</h4>
                </div>
                <div class="card-body" [ngClass]="{'d-none': !dia.gruposMusculares[j].expandido}">
                    <!-- Card por Ejercicio -->
                    <div *ngFor="let ejercicio of obtenerEjerciciosPorGrupoMuscular(dia.ejercicios, grupoMuscular); let k = index"
                        class="card mb-3">
                        <div class="card-body">
                            <h5>{{ ejercicio.nombre }}</h5>
                            <p>{{ ejercicio.descripcion }}</p>
                            <p>Repeticiones: {{ ejercicio.repeticiones }}</p>
                            <input type="checkbox" [(ngModel)]="ejercicio.completado" (change)="calcularProgreso(i)" />
                            <label>Completado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="progreso-general">
        <h4>Progreso Semanal</h4>
        <p>{{ progresoGeneral }}%</p>
    </div>
</div>