
<div class="container main-page">
    <div class="row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="images/cbum.jpg" alt="Entrenamiento" class="img-fluid rounded shadow">
        </div>

        <!-- Texto -->
        <div class="col-md-6">
            <div>
                <h1>Despues??? </h1>
                <h1>es ahora!!!</h1>
                <p>{{ fraseAleatoria }}</p>
                <button (click)="obtenerFraseAleatoria()" class="btn-refresh">
                    <i class="bx bx-refresh"></i>
                </button>
            </div>

        </div>
    </div>


</div>