<div class="mb-3 col-4">
  <label [for]="'gimnasio-' + label" class="form-label fs-5">{{ label }}</label>
  <select
    [id]="'gimnasio-' + label"
    [(ngModel)]="selectedGimnasio"
    class="form-select form-select-lg"
    aria-label="Selecciona un gimnasio"
    [disabled]="isDisabled"
    (ngModelChange)="onGimnasioChange()"
  >
    <option value="" disabled selected>Selecciona un gimnasio</option>
    <option *ngFor="let gimnasio of gimnasios" [value]="gimnasio.id_gimnasio">
      {{ gimnasio.nombre }}
    </option>
  </select>
</div>
