<footer class="footer bg-dark text-white">
    <div class="container d-flex justify-content-center align-items-center">
        <!-- Instagram -->
        <a href="https://www.instagram.com/franco.menichetti89/" target="_blank" class="mx-3">
            <img src="images/ig.jpg" alt="Instagram" class="footer-icon" />
        </a>
        <!-- WhatsApp -->
        <a href="https://chat.whatsapp.com/C0VMZ2hME9JGqE1uKI2rCY" target="_blank" class="mx-3">
            <img src="images/wsp.jpg" alt="WhatsApp" class="footer-icon" />
        </a>
    </div>
</footer>