<!-- Formulario -->
<div class="card shadow-lg">
    <div class="card-body">
        <h1 class="form-title text-center mb-4">REGISTRO DE ENTRENADOR</h1>
        <form [formGroup]="frmData">
            <!-- Grupo 1: Nombre, Apellido y Apodo -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" class="form-control"
                        placeholder="Ingrese el nombre" />
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" id="apellido" formControlName="apellido" class="form-control"
                        placeholder="Ingrese el apellido" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="apodo" class="form-label">Apodo</label>
                    <input type="text" id="apodo" formControlName="apodo" class="form-control"
                        placeholder="Ingrese el apodo" />
                </div>
                <div class="col-md-6">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" id="dni" formControlName="dni" class="form-control"
                        placeholder="Ingrese el DNI" />
                </div>
            </div>

            <!-- Grupo 2: Fecha de Nacimiento y Celular -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="celular" class="form-label">Celular</label>
                    <input type="text" id="celular" formControlName="celular" class="form-control"
                        placeholder="Ingrese el celular" />
                </div>
            </div>

            <!-- Grupo 3: Dirección y Email -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" id="direccion" formControlName="direccion" class="form-control"
                        placeholder="Ingrese la dirección" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control"
                        placeholder="Ingrese el email" />
                </div>
                <div class="col-md-6">
                    <label for="fecha_ingreso" class="form-label">Fecha de Ingreso</label>
                    <input type="date" id="fecha_ingreso" formControlName="fecha_ingreso" class="form-control" />
                </div>
            </div>

            <app-cbo-gimnasios-multiples [label]="'Gimnasios donde trabaja'"
                [selectedGimnasios]="frmData.get('gimnasios')?.value"
                (valueChange)="frmData.get('gimnasios')?.setValue($event)" [isDisabled]="frmData.disabled">
            </app-cbo-gimnasios-multiples>

            <!-- Botón de Envío -->
            <div class="d-grid gap-2 mt-4 mt-sm-5">
                <button type="button" class="btn btn-primary rounded-pill" (click)="openModal()"
                    [disabled]="frmData.invalid">
                    <i class="bi bi-check-circle-fill me-2"></i> Registrar
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Confirmación -->
<app-modal-confirm [visible]="isModalVisible" [title]="'Confirmación'"
    [message]="'¿Estás seguro de registrar este entrenador?'" (confirm)="handleConfirm()" (cancel)="handleCancel()">
</app-modal-confirm>