<p>controles works!</p>
//Deberia poder ver todos los controles de los meses anteriores
//cargar el control del mes en curso
//ver de itulizar alguna libreria para mostrar con graficos el item a observa
//en los controles pedir un objetivo para el cual se va a trabajar en el mes
//tambien una devolucion de como se sintio el mes que paso, cambios en la rutina, etc


//tambien se podria controlar la asistencia dependiendo si se marca o no el checkbox en los ejercicios
//porcentaje de asistencia mensual
//porcentaje de asistencia anual