<!-- Card principal -->
<div class="card shadow-lg card-custom">
  <div class="card-body">
    <!-- Título del formulario -->
    <h1 class="form-title text-center mb-4">
      REGISTRO DE PAGO
    </h1>

    <!-- Formulario -->
    <form [formGroup]="frmData" (ngSubmit)="onSubmit()">

      <!-- Campo de Monto -->
      <div class="mb-3">
        <label for="monto" class="form-label-base">Monto</label>
        <input type="text" id="monto" formControlName="monto" class="form-control monto-input" [readonly]="true" />
      </div>

      <!-- Campo de concepto -->
      <div class="mb-3">
        <label for="concepto" class="form-label-base">Concepto</label>
        <input type="text" id="concepto" formControlName="concepto" class="form-control concepto-input"
          [readonly]="true" />
      </div>

      <!-- Selector de Forma de Pago -->
      <!-- <div class="mb-3">
        <app-cbo-forma-pago label="Forma de Pago" (valueChange)="onFormaPagoChange($event)">
        </app-cbo-forma-pago>
      </div> -->

      <!-- Botón de Envío -->
      <!-- <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary rounded-pill" [disabled]="frmData.invalid">
          <i class="bi bi-check-circle-fill me-2"></i> Registrar
        </button>
      </div> -->
      <div class="d-grid gap-2 mt-2">
        <button type="button" class="btn btn-success rounded-pill" (click)="pagarConMercadoPago()">
          <i class="bi bi-credit-card me-2"></i> Pagar con MercadoPago
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de Confirmación -->
<app-modal-confirm [visible]="isModalVisible" [title]="'Confirmación'"
  [message]="'¿Estás seguro de registrar este pago?'" (confirm)="handleConfirm()" (cancel)="handleCancel()">
</app-modal-confirm>