<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center">Registro de pago de atleta</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="pagoForm" (ngSubmit)="onSubmit()">
                        <!-- Atleta -->
                        <div class="mb-3">
                            <app-cbo-atleta [emitOnlyId]="true" [idEntrenador]="id_entrenador"
                                (valueChange)="onAtletaSeleccionado($event)"></app-cbo-atleta>
                        </div>
                        <div class="mb-3">
                            <app-cbo-gimnasio [emitOnlyId]="true" formControlName="gimnasio"></app-cbo-gimnasio>
                        </div>
                        <!-- 

                        <div class="mb-3">
                            <app-cbo-membresia> </app-cbo-membresia>
                        </div>

                        <div class="mb-3">
                            <label for="monto" class="form-label">Monto</label>
                            <input type="text" id="monto" formControlName="monto" class="form-control"
                                placeholder="Ingrese el monto">
                        </div>

                        <div class="mb-3">
                            <label for="forma_pago" class="form-label">Forma de pago</label>
                            <input type="text" id="forma_pago" formControlName="forma_pago" class="form-control"
                                placeholder="Ingrese la forma de pago">
                        </div> -->
                        <!-- Botón de Envío -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrar Pago</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>